
.modal-content {
    height:200px;
    p,div {
        text-align: center;

    }
  }
  .page {
    width:100%;
    padding: 30px;
    height: 80vh;
    min-height: 900px;
    background-color: white;
  }
  h2 {
    color: #00a74b;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3em;
  }
  .ant-modal-title {
    color: #00a74b;
  }